<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.project.dao.ExperimentMapper">
  <resultMap id="BaseResultMap" type="com.project.bean.Experiment">
    <id column="id" jdbcType="INTEGER" property="id" />
    <result column="e_name" jdbcType="VARCHAR" property="eName" />
    <result column="stu_number" jdbcType="INTEGER" property="stuNumber" />
    <result column="e_result" jdbcType="VARCHAR" property="eResult" />
    <result column="e_status" jdbcType="VARCHAR" property="eStatus" />
    <result column="e_step" jdbcType="VARCHAR" property="eStep" />
    <result column="e_reason" jdbcType="VARCHAR" property="eReason" />
    <result column="e_time" jdbcType="VARCHAR" property="eTime" />
  </resultMap>
  <resultMap id="WithStuResultMap" type="com.project.bean.Experiment">
    <id column="id" jdbcType="INTEGER" property="id" />
    <result column="e_name" jdbcType="VARCHAR" property="eName" />
    <result column="stu_number" jdbcType="INTEGER" property="stuNumber" />
    <result column="e_result" jdbcType="VARCHAR" property="eResult" />
    <result column="e_status" jdbcType="VARCHAR" property="eStatus" />
    <result column="e_step" jdbcType="VARCHAR" property="eStep" />
    <result column="e_reason" jdbcType="VARCHAR" property="eReason" />
    <result column="e_time" jdbcType="VARCHAR" property="eTime" />
    <association property="tas" javaType="com.project.bean.TAS">
      <id column="number" property="number"/>
      <result column="name" property="name"/>
    </association>
  </resultMap>

  <sql id="Example_Where_Clause">
    <where>
      <foreach collection="oredCriteria" item="criteria" separator="or">
        <if test="criteria.valid">
          <trim prefix="(" prefixOverrides="and" suffix=")">
            <foreach collection="criteria.criteria" item="criterion">
              <choose>
                <when test="criterion.noValue">
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue">
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue">
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue">
                  and ${criterion.condition}
                  <foreach close=")" collection="criterion.value" item="listItem" open="(" separator=",">
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Update_By_Example_Where_Clause">
    <where>
      <foreach collection="example.oredCriteria" item="criteria" separator="or">
        <if test="criteria.valid">
          <trim prefix="(" prefixOverrides="and" suffix=")">
            <foreach collection="criteria.criteria" item="criterion">
              <choose>
                <when test="criterion.noValue">
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue">
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue">
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue">
                  and ${criterion.condition}
                  <foreach close=")" collection="criterion.value" item="listItem" open="(" separator=",">
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>

  <sql id="Base_Column_List">
    id, e_name, stu_number, e_result, e_status, e_step, e_reason, e_time
  </sql>
  <sql id="WithStu_Column_List">
    id, e_name, stu_number, e_result, e_status, e_step,t.number,t.name,e_reason, e_time
  </sql>

  <select id="selectByExampleWithStu" parameterType="com.project.bean.ExperimentExample" resultMap="WithStuResultMap">
    select
    <if test="distinct">
      distinct
    </if>
    <include refid="WithStu_Column_List" />
    from experiment
    LEFT JOIN t_a_s t ON t.number=stu_number
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null">
      order by ${orderByClause}
    </if>
  </select>
  <select id="selectByPrimaryKeyWithStu" parameterType="java.lang.Integer" resultMap="WithStuResultMap">
    select
    <include refid="WithStu_Column_List" />
    from experiment
    LEFT JOIN t_a_s t ON t.number=stu_number
    where id = #{id,jdbcType=INTEGER}
  </select>

  <select id="selectByExample" parameterType="com.project.bean.ExperimentExample" resultMap="BaseResultMap">
    select
    <if test="distinct">
      distinct
    </if>
    <include refid="Base_Column_List" />
    from experiment
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null">
      order by ${orderByClause}
    </if>
  </select>
  <select id="selectByPrimaryKey" parameterType="java.lang.Integer" resultMap="BaseResultMap">
    select
    <include refid="Base_Column_List" />
    from experiment
    where id = #{id,jdbcType=INTEGER}
  </select>

  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
    delete from experiment
    where id = #{id,jdbcType=INTEGER}
  </delete>
  <delete id="deleteByExample" parameterType="com.project.bean.ExperimentExample">
    delete from experiment
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
  </delete>
  <insert id="insert" parameterType="com.project.bean.Experiment">
    insert into experiment (id, e_name, stu_number,
                            e_result, e_status, e_step,
                            e_reason, e_time)
    values (#{id,jdbcType=INTEGER}, #{eName,jdbcType=VARCHAR}, #{stuNumber,jdbcType=INTEGER},
            #{eResult,jdbcType=VARCHAR}, #{eStatus,jdbcType=VARCHAR}, #{eStep,jdbcType=VARCHAR},
            #{eReason,jdbcType=VARCHAR}, #{eTime,jdbcType=VARCHAR})
  </insert>
  <insert id="insertSelective" parameterType="com.project.bean.Experiment">
    insert into experiment
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="id != null">
        id,
      </if>
      <if test="eName != null">
        e_name,
      </if>
      <if test="stuNumber != null">
        stu_number,
      </if>
      <if test="eResult != null">
        e_result,
      </if>
      <if test="eStatus != null">
        e_status,
      </if>
      <if test="eStep != null">
        e_step,
      </if>
      <if test="eReason != null">
        e_reason,
      </if>
      <if test="eTime != null">
        e_time,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="id != null">
        #{id,jdbcType=INTEGER},
      </if>
      <if test="eName != null">
        #{eName,jdbcType=VARCHAR},
      </if>
      <if test="stuNumber != null">
        #{stuNumber,jdbcType=INTEGER},
      </if>
      <if test="eResult != null">
        #{eResult,jdbcType=VARCHAR},
      </if>
      <if test="eStatus != null">
        #{eStatus,jdbcType=VARCHAR},
      </if>
      <if test="eStep != null">
        #{eStep,jdbcType=VARCHAR},
      </if>
      <if test="eReason != null">
        #{eReason,jdbcType=VARCHAR},
      </if>
      <if test="eTime != null">
        #{eTime,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <select id="countByExample" parameterType="com.project.bean.ExperimentExample" resultType="java.lang.Long">
    select count(*) from experiment
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
  </select>
  <update id="updateByExampleSelective" parameterType="map">
    update experiment
    <set>
      <if test="record.id != null">
        id = #{record.id,jdbcType=INTEGER},
      </if>
      <if test="record.eName != null">
        e_name = #{record.eName,jdbcType=VARCHAR},
      </if>
      <if test="record.stuNumber != null">
        stu_number = #{record.stuNumber,jdbcType=INTEGER},
      </if>
      <if test="record.eResult != null">
        e_result = #{record.eResult,jdbcType=VARCHAR},
      </if>
      <if test="record.eStatus != null">
        e_status = #{record.eStatus,jdbcType=VARCHAR},
      </if>
      <if test="record.eStep != null">
        e_step = #{record.eStep,jdbcType=VARCHAR},
      </if>
      <if test="record.eReason != null">
        e_reason = #{record.eReason,jdbcType=VARCHAR},
      </if>
      <if test="record.eTime != null">
        e_time = #{record.eTime,jdbcType=VARCHAR},
      </if>
    </set>
    <if test="_parameter != null">
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByExample" parameterType="map">
    update experiment
    set id = #{record.id,jdbcType=INTEGER},
    e_name = #{record.eName,jdbcType=VARCHAR},
    stu_number = #{record.stuNumber,jdbcType=INTEGER},
    e_result = #{record.eResult,jdbcType=VARCHAR},
    e_status = #{record.eStatus,jdbcType=VARCHAR},
    e_step = #{record.eStep,jdbcType=VARCHAR},
    e_reason = #{record.eReason,jdbcType=VARCHAR},
    e_time = #{record.eTime,jdbcType=VARCHAR}
    <if test="_parameter != null">
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByPrimaryKeySelective" parameterType="com.project.bean.Experiment">
    update experiment
    <set>
      <if test="eName != null">
        e_name = #{eName,jdbcType=VARCHAR},
      </if>
      <if test="stuNumber != null">
        stu_number = #{stuNumber,jdbcType=INTEGER},
      </if>
      <if test="eResult != null">
        e_result = #{eResult,jdbcType=VARCHAR},
      </if>
      <if test="eStatus != null">
        e_status = #{eStatus,jdbcType=VARCHAR},
      </if>
      <if test="eStep != null">
        e_step = #{eStep,jdbcType=VARCHAR},
      </if>
      <if test="eReason != null">
        e_reason = #{eReason,jdbcType=VARCHAR},
      </if>
      <if test="eTime != null">
        e_time = #{eTime,jdbcType=VARCHAR},
      </if>
    </set>
    where id = #{id,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.project.bean.Experiment">
    update experiment
    set e_name = #{eName,jdbcType=VARCHAR},
        stu_number = #{stuNumber,jdbcType=INTEGER},
        e_result = #{eResult,jdbcType=VARCHAR},
        e_status = #{eStatus,jdbcType=VARCHAR},
        e_step = #{eStep,jdbcType=VARCHAR},
        e_reason = #{eReason,jdbcType=VARCHAR},
        e_time = #{eTime,jdbcType=VARCHAR}
    where id = #{id,jdbcType=INTEGER}
  </update>
</mapper>